{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ with .Params.header }}
    <img src="{{ .src }}" alt="{{ .alt }}">
{{ end }}

<main>
{{ .Content }}
</main>

{{ range (where .Data.Pages "Section" "!=" "") }}
<div>
  <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

  {{ with .Date }}
    <section class="project-date">
      <span class="date">{{ .Format "2006/01/02" }}</span>
    </section>
  {{ end  }}

  {{ with .Params.header }}
    <section>
      <img src="{{ .src }}" alt="{{ .alt }}">
    </section>
  {{ end }}

  <section>
    {{ .Summary }}
  </section>
</div>
{{ end }}

{{ partial "footer.html" . }}
